a:link,
a:visited {
  color: #990d00;
}
a:hover {
  color: #ff1600;
}
.top_panel .panel_2 ul.store-vertical li ul li a:hover,
.top_panel .panel_2 ul.store-vertical li ul li .text:hover a,
.top_panel .panel_2 ul.store-vertical li ul li a.root-item-selected {
  color: #e51400;
}
.top_panel .panel_2 ul.store-vertical li ul li .showchild:hover i {
  color: #e51400;
}
.personal_user .info a.exit:hover {
  color: #e51400;
}
ul.left-menu > li:hover > a,
ul.left-menu > li.selected > a {
  color: #fff;
  border-color: #e51400;
  background: #e51400;
}
ul.left-menu > li.parent > ul.submenu,
ul.left-menu > li.parent > .catalog-section-childs,
ul.left-menu > li.parentMore > ul.submenuMore {
  border-color: #e51400;
}
ul.left-menu > li.parent > ul.submenu li a:hover {
  color: #e51400;
}
ul.left-menu > li.parentMore > ul.submenuMore li a:hover {
  color: #fff;
  border-color: #e51400;
  background: #e51400;
}
.top-catalog {
  background: #e51400;
}
.top-catalog ul.left-menu > li > a {
  color: #fff;
}
.top-catalog ul.left-menu > li:hover > a,
.top-catalog ul.left-menu > li.selected > a {
  background: rgba(0,0,0,0.5);
}
.top-catalog ul.left-menu > li.parent > .arrow,
.top-catalog ul.left-menu > li.parentMore > .arrow {
  border-bottom-color: #e51400;
}
ul.new_leader_disc li:hover {
  border-color: #e51400;
}
ul.new_leader_disc li:hover a .text {
  color: #e51400;
}
.discount_left a.item-title:hover {
  color: #e51400;
}
.discount_left .item-price .catalog-item-price {
  color: #fff;
  background: #e51400;
}
.anythingSlider-discount-left .anythingControls ul li a.cur {
  background: #e51400;
}
.vendors p.vendors-item a:hover {
  color: #e51400 !important;
}
.stati_left ul.lsnn li a.title-link:hover,
.stati_bottom ul.lsnn li a.title-link:hover {
  color: #e51400;
}
.anythingSlider-default .anythingControls ul li a {
  border-color: #fff;
  background: #fff;
}
.anythingSlider-default .anythingControls ul li a.cur {
  background: #e51400;
}
.anythingSlider-default .arrow.forward a:hover,
.anythingSlider-default .arrow.back a:hover {
  background: #e51400;
}
.anythingSlider-default .arrow.forward a:hover:before,
.anythingSlider-default .arrow.back a:hover:before {
  border-bottom-color: #bc1000;
}
.anythingSlider-default .arrow.forward a:hover:after,
.anythingSlider-default .arrow.back a:hover:after {
  border-top-color: #bc1000;
}
.news_home ul.lsnn li a:hover .date {
  background: #e51400;
}
.news_home ul.lsnn li a:hover .date:after {
  border-left-color: #e51400;
}
.news_home ul.lsnn li a:hover .title-link {
  color: #e51400;
}
.ndl_tabs .section ul.tabs li.current:after {
  border-top-color: #e51400;
}
.ndl_tabs .section ul.tabs li:hover a,
.ndl_tabs .section ul.tabs li.current a {
  border-color: #e51400;
}
.ndl_tabs .section ul.tabs li.current a {
  background: #e51400;
}
.ndl_tabs .section ul.tabs li:hover a span {
  color: #e51400;
}
.ndl_tabs .section ul.tabs li.current a span {
  color: #fff;
}
.catalog-item-card:hover {
  border-color: #e51400;
}
.catalog-item-card:hover .catalog-item-info {
  border-color: #e51400;
}
.catalog-item-card.item-tb:hover .catalog-item-info {
  border-color: #e51400;
}
.catalog-item-card .item-all-title a.item-title:hover {
  color: #e51400;
}
.breadcrumb ul li a:hover span,
.breadcrumb ul li a:hover i {
  color: #ff1600;
}
.already_seen ul li:hover {
  border-color: #e51400;
}
.footer_menu ul li a:hover {
  color: #e51400;
}
.footer_center .footer-links a:hover {
  color: #e51400;
}
.footer_right .footer-design a:hover {
  color: #e51400;
}
.foot_panel_all {
  background: #e51400;
}
.foot_panel {
  border-left-color: rgba(0,0,0,0.05);
  border-right-color: rgba(0,0,0,0.05);
}
.kabinet a.login_anch,
.kabinet a.personal,
.kabinet a.register {
  border-right-color: rgba(0,0,0,0.05);
}
.kabinet a.login_anch:hover,
.kabinet a.personal:hover,
.kabinet a.register:hover {
  background: rgba(0,0,0,0.5);
}
.kabinet a.login_anch i,
.kabinet a.personal i,
.kabinet a.register i {
  color: rgba(0,0,0,0.27);
}
.kabinet a.login_anch span,
.kabinet a.personal span {
  color: #fff;
}
.kabinet a.register span {
  color: #fff;
}
.compare_line a,
.delay_line a {
  border-right-color: rgba(0,0,0,0.05);
}
.compare_line a:hover,
.delay_line a:hover {
  background: rgba(0,0,0,0.5);
}
.compare_line a i,
.delay_line a i {
  color: rgba(0,0,0,0.27);
}
.compare_line a .text,
.delay_line a .text {
  color: #fff;
}
.foot_panel_2 a.cart i {
  color: rgba(0,0,0,0.27);
}
.foot_panel_2 a.cart .text {
  color: #fff;
}
.clvr .foot_panel_2 a.cart,
.clvl .foot_panel_2 a.cart {
  border-bottom-color: rgba(0,0,0,0.05);
}
.clvr .foot_panel_2 a.cart:hover,
.clvl .foot_panel_2 a.cart:hover {
  background: rgba(0,0,0,0.5);
}
.clvr .kabinet a.login_anch,
.clvr .kabinet a.personal,
.clvr .kabinet a.register,
.clvl .kabinet a.login_anch,
.clvl .kabinet a.personal,
.clvl .kabinet a.register {
  border-bottom-color: rgba(0,0,0,0.05);
}
.clvr .compare_line a,
.clvr .delay_line a,
.clvl .compare_line a,
.clvl .delay_line a {
  border-bottom-color: rgba(0,0,0,0.05);
}
.news-list .news-item a:hover .news-date {
  background: #e51400;
}
.news-list .news-item a:hover .news-date:after {
  border-left-color: #e51400;
}
.news-list .news-item a:hover .news-title {
  color: #e51400;
}
ul.news_prev_next li a:hover .date {
  background: #e51400;
}
ul.news_prev_next li.prev a:hover .date:after {
  border-right-color: #e51400;
}
ul.news_prev_next li.next a:hover .date:after {
  border-left-color: #e51400;
}
ul.news_prev_next li a:hover .title-link {
  color: #e51400;
}
.stati-list .stati-item .descr a.stati-title:hover {
  color: #e51400;
}
ul.stati_prev_next li.prev a:hover .arrow_prev {
  border-right-color: #e51400;
}
ul.stati_prev_next li.next a:hover .arrow_next {
  border-left-color: #e51400;
}
ul.stati_prev_next li a:hover .title-link {
  color: #e51400;
}
.payments-section-list ul li .payment-item:hover {
  border-color: #e51400;
}
.vendors-section-item a:hover {
  border-color: #e51400;
}
.vendors-section-item a:hover .item {
  border-color: #e51400;
}
.vendors-section-item a:hover .item .item-title {
  color: #e51400;
}
.catalog-section .catalog-section-title:hover a {
  color: #e51400;
  border-color: #e51400;
}
.catalog-section .catalog-section-title .showchild:hover i,
.catalog-section .catalog-section-title .showsectionchild:hover i {
  color: #e51400;
}
.catalog-section-child a:hover {
  border-color: #e51400;
}
.catalog-section-child a:hover .child {
  border-color: #e51400;
}
.catalog-section-child a:hover .child .text {
  color: #e51400;
}
.catalog_item_toogle_filter .showfilter:hover {
  border-color: #e51400;
}
.catalog_item_toogle_filter .showfilter:hover span {
  color: #e51400;
}
.catalog_item_toogle_filter .showfilter:hover i {
  color: #e51400;
}
.filter form table tr td .sect_name:hover span {
  color: #e51400;
}
.filter form table tr td .sect_name:hover i {
  color: #e51400;
}
.bx_filter_select_popup ul li label.selected {
  background: #e51400;
}
.catalog-item-view a.selected,
.catalog-item-view a.selected:hover {
  border-color: #e51400;
  background: #e51400;
}
.catalog-item:hover {
  border-color: #e51400;
}
.catalog-item:hover .catalog-item-info {
  border-color: #e51400;
}
.catalog-item .catalog-item-title a:hover {
  color: #e51400;
}
.catalog-detail-pictures .more_photo ul li:hover {
  border-color: #e51400;
}
.catalog-detail .offer_block ul li.active span {
  color: #fff;
  background: #e51400;
}
.catalog-detail .offer_block ul.COLOR li.active span {
  border-color: #e51400;
}
.catalog-detail-element .section ul.tabs li.current:after {
  border-top-color: #e51400;
}
.catalog-detail-element .section ul.tabs li:hover a,
.catalog-detail-element .section ul.tabs li.current a {
  border-color: #e51400;
}
.catalog-detail-element .section ul.tabs li.current a {
  background: #e51400;
}
.catalog-detail-element .section ul.tabs li:hover a span {
  color: #e51400;
}
.catalog-detail-element .section ul.tabs li.current a span {
  color: #fff;
}
.popup-set .set_construct_slider_arrow_right .arrow_cont:hover,
.popup-set .set_construct_slider_arrow_left .arrow_cont:hover {
  background: #e51400;
}
.popup-set .set_construct_slider_arrow_right .arrow_cont:hover:before,
.popup-set .set_construct_slider_arrow_left .arrow_cont:hover:before {
  border-bottom-color: #bc1000;
}
.popup-set .set_construct_slider_arrow_right .arrow_cont:hover:after,
.popup-set .set_construct_slider_arrow_left .arrow_cont:hover:after {
  border-top-color: #bc1000;
}
.compare-list-result .sort a.sortbutton.current {
  color: #fff;
  background: #e51400;
}
table.compare-grid td a.compare-title:hover {
  color: #e51400;
}
.pagination ul li.active {
  border-color: #e51400;
  background: #e51400;
}
.pagination ul li.active span {
  color: #fff;
}
.more_options .item_block .offer_block ul li.active span {
  color: #fff;
  background: #e51400;
}
.more_options .item_block .offer_block ul.COLOR li.active span {
  border-color: #e51400;
}
.cart-items .sort a.sortbutton.current {
  color: #fff;
  background: #e51400;
}
.cart-items .equipment .tbody .cart-item-name a:hover {
  color: #e51400;
}
.myorders .order-info .quick-location-tag:hover {
  color: #fff;
  background: #e51400;
}
.order-list .sort.order a.sortbutton.current {
  color: #fff;
  background: #e51400;
}
.cart-items div.equipment-order.list .tbody .tr:hover {
  border-color: #e51400;
}
.cart-items div.equipment-order.list .tbody .tr:hover .tr_into {
  border-color: #e51400;
}
.cart-items div.equipment-order.list .tbody .cart-item-plus-minus a:hover i {
  color: #e51400;
}
.cart-items.basket div.equipment-order.basket .tbody .cart-item-name a:hover {
  color: #e51400;
}
.cart-items div.equipment-order .tbody .cart-item-name a:hover {
  color: #e51400;
}
a.pop-up-close:hover,
.bx-core-adm-dialog.popup-store .bx-core-adm-icon-close:hover,
.popup-set .popup-window-close-icon:hover {
  background: #e51400;
}
.bx-core-adm-dialog.popup-store table#store_table tr.store_row.checked {
  border-color: #e51400;
}
.bx-core-adm-dialog.popup-store table#store_table td.info div a:hover {
  color: #e51400;
}
.custom-forms.active label,
.custom-forms.active:hover label {
  color: #fff;
  background: #e51400;
}
.colors.custom-forms.active label,
.colors.custom-forms.active:hover label {
  border-color: #e51400;
}
.title-search-result {
  border-color: #e51400;
}
.title-search-result:before {
  border-bottom-color: #e51400;
}
.title-search-result #catalog_search a.search_all:hover {
  color: #e51400;
}
.title-search-result .tvr_search .item_title a:hover,
.title-search-result .tvr_search .cat_title a:hover {
  color: #e51400;
}
.style-switcher .header span:hover {
  background: #e51400;
}
.style-switcher .block-title a:hover i {
  color: #e51400;
}
.option.custom-forms:hover label .check {
  border-color: #e51400;
  background: #e51400;
}
.option.custom-forms.active:hover label .check {
  border-color: #e51400;
  background: #fff;
}
.option.custom-forms.active:hover label .check i {
  color: #e51400;
}
.option.custom-forms:hover label .check-title,
.option.custom-forms.active:hover label .check-title {
  color: #e51400;
}
.btn_buy {
  color: #fff;
  background: #e51400;
}
.btn_buy.boc_anch_cart {
  color: #fff;
}
.btn_buy.apuo_detail {
  color: #fff;
}
.btn_buy i {
  color: #fff;
}
.btn_buy.oformit.dsbl,
.btn_buy.oformit.dsbl:hover {
  color: #ec2a17;
  background: #bc1000;
}
@media screen and (max-width: 787px) {
  .clvr .foot_panel,
  .clvl .foot_panel {
    border-left-color: rgba(0,0,0,0.05);
  }
  .clvr .kabinet a.login_anch,
  .clvr .kabinet a.personal,
  .clvl .kabinet a.login_anch,
  .clvl .kabinet a.personal {
    border-right-color: rgba(0,0,0,0.05);
  }
  .clvr .compare_line a,
  .clvr .delay_line a,
  .clvl .compare_line a,
  .clvl .delay_line a {
    border-right-color: rgba(0,0,0,0.05);
  }
  .foot_panel_2 a.cart:hover {
    background: rgba(0,0,0,0.5);
  }
  .panel_1 .catalog-section-title:hover a,
  .panel_1 .catalog-section-title.active a {
    color: #fff;
  }
  .panel_1 .catalog-section-title .showsectionchild:hover i,
  .panel_1 .catalog-section-title.active .showsectionchild i {
    color: #b7bbd3;
  }
  .top_panel .panel_2 ul.store-vertical li ul li a:hover,
  .top_panel .panel_2 ul.store-vertical li ul li .text:hover a,
  .top_panel .panel_2 ul.store-vertical li ul li a.root-item-selected,
  .top_panel .panel_2 ul.store-vertical li ul li.active > .text a {
    color: #fff;
  }
  .top_panel .panel_2 ul.store-vertical li ul li .showchild:hover i,
  .top_panel .panel_2 ul.store-vertical li ul li.active > .text .showchild i {
    color: #b7bbd3;
  }
  .title-search-result .tvr_search .item_title a:hover,
  .title-search-result .tvr_search .cat_title a:hover {
    color: #e51400 !important;
  }
  .title-search-result #catalog_search a.search_all:hover {
    color: #e51400 !important;
  }
  .catalog-item-card:hover {
    border-bottom-color: #dee0ee;
  }
  .catalog-item:hover {
    border-bottom-color: #dee0ee;
  }
  .set-constructor-items .catalog-item-card:hover {
    border-color: #e51400;
  }
  .set-constructor-items .catalog-item-card:hover .catalog-item-info {
    border-color: #e51400;
  }
}
