@media screen and (max-width: 787px) {
    .testimonial-group .catalog-section-child {
        width: auto;
    }
    /* The heart of the matter */
    .testimonial-group > .row {
        overflow-x: auto;
        white-space: nowrap;
    }
    .testimonial-group > .row > .col-auto {
        display: inline-block;
        float: none;
        max-width: 2500px;
    }
}
.right-catalog-column .catalog-section-list .catalog-section-child a {
    width: auto;
}
