.left-column .catalog-section-list .catalog-section-child {
    margin: 0px;
}

.left-column .catalog-section-list .catalog-section-child a {
    width: 203px;
}

.left-column .catalog-section-list {
    margin-top: 35px;
}