#popup-window-content-mapPopup {
    padding: 0px;
    background-color: white;
}

#popup-window-titlebar-mapPopup .popup-window-titlebar-text {
    font-size: 2rem;
}

#modal-delivery_body {
    display: none;
}

#ya_map_delivery {
    width: 500px;
    height: 400px;
}

#modal-delivery_body .description {
    margin: 10px 0;
}
